/*barvy: modra: #13b5a8, zlata: #baa360, pozadi: #fff3dc, bezova: #fff1c1, hnědá: #51090a, svetle modra: #17c3ba*/

html {
  box-sizing: border-box;
  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
  scroll-behavior: smooth;
}
*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: #ab5781;
}
a:visited {
  color: #ab5781; /* Když už jsi odkaz navštívil/a */
}
a:active {
  color: #ab5781 !important;
}
a:focus {
  color: #ab5781; /* Když je odkaz aktivní (po kliknutí nebo tabulátoru) */
}
a[href^="tel:"] {
  color: #ab5781 !important;
}
a[target="_blank"] {
  color: #ab5781 !important;
}
a[href*="maps.google.com"] {
  color: #ab5781 !important; /* Přebije výchozí styl pro Google Maps odkazy */
}

body {
  margin: 0;
  padding: 0;
  /*background: linear-gradient(to right, #13b5a8, #fff1c164, #fff1c1 );*/
  background: linear-gradient(to right, #13b5a824, #fff1c18d, #fff1c19b),
    radial-gradient(circle at 20% 30%, #ffffff33, transparent 50%),
    radial-gradient(circle at 80% 70%, #ffffff33, transparent 60%);
  background-blend-mode: overlay;
  /* background: radial-gradient(
    ellipse at top left,
    #13b5a8be 0%,
    #fff1c1c4 50%,
    #fff1c1c4 70%
  )*/

  overflow-x: hidden; /* Zakáže horizontální posuvník */
  width: 100vw; /* Zabrání roztažení */
  font-family: comfortaa;
  font-weight: 300;
  font-size: 20px;
  color: #51090a;
  position: relative;
}

.container {
  display: grid;
  grid-template-areas:
    "pozadi"
    "interval"
    "uvodem"
    "interval2"
    "nabizim"
    "interval3"
    "galerie"
    "reference"
    "interval4";
  grid-template-columns: 1fr;
  grid-template-rows: auto 60px auto 60px auto 60px auto auto 60px;
  padding-top: 60px;
  align-items: center;
  position: relative;
  max-width: 1300px; /* Nastaví maximální šířku webu */
}
@media only screen and (min-width: 1300px) {
  .container {
    margin: 0 auto; /* Centrovaní na střed */
  }
}
@media only screen and (min-width: 800px) {
  .container {
    grid-template-rows: auto 60px auto 60px auto 60px auto auto 60px;
  }
  body {
    font-size: 22px;
  }
}

.title {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Rozšíří ho na celou šířku */
  height: 60px; /* Nastav pevnou výšku podle potřeby */
  background: linear-gradient(to right, #13b5a8, #fff1c1);
  z-index: 1100;
  display: flex; /* Pokud obsah mizí, pomůže flexbox */
  align-items: center; /* Zarovná obsah vertikálně */
  justify-content: space-between;
  padding-top: 0.5%;
  max-width: 1300px; /* Nastaví maximální šířku webu */
}

@media only screen and (min-width: 1300px) {
  .title {
    margin: 0 auto; /* Centrovaní na střed */
  }
}

.logo {
  background-color: #fff3dc9b;
  backdrop-filter: blur(2px); /* Rozostření pozadí */
  -webkit-backdrop-filter: blur(2px); /* Pro Safari */
  border-radius: 30px; /* Zaoblení rohů pro lepší efekt */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Jemný stín pro realističtější efekt */
  width: 12rem;
  max-height: min-content;
  z-index: 1200;
  position: fixed;
  left: 14rem;
  top: 0.6rem;
  padding: 0;
  width: 8rem;
  max-height: auto;
}

@media only screen and (min-width: 800px) {
  .logo {
    background-color: #fff3dc9b;
    backdrop-filter: blur(2px); /* Rozostření pozadí */
    -webkit-backdrop-filter: blur(2px); /* Pro Safari */
    border-radius: 30px; /* Zaoblení rohů pro lepší efekt */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Jemný stín pro realističtější efekt */
    width: 16rem;
    max-height: min-content;
    z-index: 1200;
    position: absolute;
    left: 61rem;
    padding: 3px;
  }

  .titleS,
  .logoS {
    display: none;
  }
}

.full {
  /*viditelne menu*/
  display: flex;
  flex-direction: row;
  width: 70%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: #51090a;
  margin-left: 3%;
  text-shadow: 1px 4px 7px #fff1c1;
}
.full a {
  text-decoration: none;
  color: #51090a;
}

@media only screen and (max-width: 800px) {
  .full {
    display: none;
  }
}

.ham {
  /*hamburger a krizek*/
  width: 3vw;
  aspect-ratio: 1/1; /*vyrobím čtverec*/
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  margin: 2% 0 0 7%;
  position: absolute;
  bottom: 1rem;
  z-index: 9999;
}
.cara1,
.cara2,
.cara3 {
  width: 100%;
  flex-shrink: 0;
  height: 2px;
  background-color: #fff1c1;
  /*background-color: #ccbd71;*/
}
.cara2 {
  background-color: #baa360;
}
@media only screen and (min-width: 800px) {
  .ham,
  .cara1,
  .cara2,
  .cara3 {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .ham {
    width: 9%;
    align-self: stretch;
  }
}
.caraB {
  display: none;
}
.caraA {
  transform: rotate(45deg);
  position: relative;
  top: 20%;
}
.caraC {
  transform: rotate(-45deg);
  position: relative;
  bottom: 30%;
}

.logoS {
  width: 64px;
  padding-right: 10%;
}
.titleS {
  font-family: quando;
  font-size: 14px;
  -webkit-text-stroke: 3px transparent;
  background: linear-gradient(45deg, #baa360, #17c3ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e6ecec; /* Uvnitř textu bílá */
  text-shadow: 1px 3px 5px #51090a;
}

.title-left,
.title-center,
.title-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-left {
  justify-content: flex-start;
}

.title-right {
  justify-content: flex-end;
}

.titleS,
.logoS {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.titleS.visible,
.logoS.visible {
  opacity: 1;
  pointer-events: auto;
}

/*animace*/
.titleS,
.logoS {
  opacity: 0;
  transform: translateY(-10px); /* trošku výš před zobrazením */
  transition: opacity 0.4s ease, transform 0.4s ease;
  pointer-events: none;
}

.titleS.visible,
.logoS.visible {
  opacity: 1;
  transform: translateY(0); /* na své místo */
  pointer-events: auto;
}

.logo.hidden {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.titleS.visible {
  transition-delay: 0s;
}
.logoS.visible {
  transition-delay: 0.1s;
}

.nav {
  /*navigace na klik*/
  background-color: #13b5a8df;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin-top: 0;
  padding: 5%;
  padding-top: 20%;
  height: 100vh;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
a.nav-link {
  color: #51090a;
  padding: 1rem;
  text-shadow: 0 2px 7px #fff1c1;
}
.free {
  height: 4rem;
}
.eng {
  width: 48px;
}
@media only screen and (min-width: 800px) {
  .nav {
    display: none;
  }
}
.nav-link {
  display: block;
  padding: 5px;
  text-align: left;
  text-decoration: none;
  font-size: 1.6rem;
  margin-bottom: 10px; /* Mezera mezi položkami vertikálně */
  color: #51090a;
}
.english img {
  width: 48px;
}
.english {
  background-color: transparent;
  width: 60px;
  aspect-ratio: 1/1;
  border-style: none;
  border-radius: 50%;
  margin-top: 0;
  margin-left: 20%;
}
.english2 {
  background-color: transparent;
  width: 48px;
  aspect-ratio: 1/1;
  border-style: none;
  border-radius: 50%;
}
.english2 img {
  width: 36px;
  aspect-ratio: 1/1;
}
@keyframes shakeLoop {
  0%,
  100% {
    transform: translateX(0);
  } /* Normální stav */
  10%,
  30%,
  50% {
    transform: translateX(-3px);
  } /* Pohyb doleva */
  20%,
  40% {
    transform: translateX(3px);
  } /* Pohyb doprava */
  80% {
    transform: translateX(0);
  }
} /* Zastavení */
.english.active {
  box-shadow: 10px 2px 10px #c1bc7a;
  animation: shakeLoop 3s ease-in-out infinite;
}
.english2.active {
  box-shadow: 10px 2px 10px #ece7a1;
  animation: shakeLoop 3s ease-in-out infinite;
}
.hidden {
  display: none;
}

/*presouvani logo a nazvu pri skrolovani do title*/
.titleS,
.logoS {
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.titleS.visible,
.logoS.visible {
  opacity: 1;
  pointer-events: auto;
}

.logo {
  transition: opacity 0.3s ease;
}
.logo.hidden {
  opacity: 0;
  pointer-events: none;
}

.pozadi {
  background-image: url(img/uvodni.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-position: 34%; /* Posune ho o 10 % zleva a 30 % shora */
}

.nadpis {
  background-color: #13b5a86a;
  backdrop-filter: blur(2px); /* Rozostření pozadí */
  -webkit-backdrop-filter: blur(2px); /* Pro Safari */
  border-radius: 30px; /* Zaoblení rohů pro lepší efekt */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Jemný stín pro realističtější efekt */
  margin: 50% 0 10% 6%;
  width: 70vw;
  height: 60vh;
  position: absolute;
  padding: 5% 5% 10% 5%;
  color: #fff3dc;
}
h1 {
  text-transform: uppercase;
  font-family: quando;
  -webkit-text-stroke: 3px transparent;
  background: linear-gradient(45deg, #baa360, #17c3ba);
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e6ecec; /* Uvnitř textu bílá */
  text-shadow: 1px 3px 5px #51090a;
}

h2 {
  padding: 1rem 1rem 0 0;
  text-shadow: 1px 3px 5px #51090a;
}

@media only screen and (min-width: 800px) {
  .pozadi {
    background-image: url(img/uvodni.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: 10% 30%; /* Posune ho o 10 % zleva a 30 % shora */
  }

  .nadpis {
    background-color: #13b5a86a;
    backdrop-filter: blur(2px); /* Rozostření pozadí */
    -webkit-backdrop-filter: blur(2px); /* Pro Safari */
    border-radius: 30px; /* Zaoblení rohů pro lepší efekt */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Jemný stín pro realističtější efekt */
    margin: 20% 0 10% 2%;
    width: 50vw;
    height: 50vh;
    position: absolute;
    padding: 5% 0 10% 5%;
    color: #fff3dc;
  }

  h1 {
    text-transform: uppercase;
    font-family: quando;
    font-stretch: wider;
    -webkit-text-stroke: 3px transparent;
    background: linear-gradient(45deg, #17c3ba, #17c3ba);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #e6ecec; /* Uvnitř textu bílá */
    text-shadow: 1px 3px 5px #51090a;
  }
}

/*uvodem*/
.interval1 {
  grid-area: interval;
  height: 60px;
}
.uvodem {
  grid-area: uvodem;
  padding: 4% 4% 0 4%;
  justify-content: center;
}
.terka {
  width: 40vw;
  border-radius: 30px;
  padding: 2% 4% 2% 4%;
  float: left;
}
.uvodem p {
  padding: 0 4% 4% 8%;
  line-height: 1.3;
  margin: 0;
}
.interval2 {
  grid-area: interval2;
}
/*nabizim*/

.nabizim {
  display: grid;
  grid-area: nabizim;
  line-height: 1.3;
  padding: 4%;
}
@media (max-width: 800px) {
  .timeline {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    gap: 20px;
  }

  .line-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    z-index: 1;
  }

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(
      to bottom,
      #13b5a8,
      #fff1c164,
      #fff1c1,
      #13b5a8
    );
    transition: height 0.3s ease-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .timeline-item {
    display: contents;
  }

  .timeline-item .content {
    background: #fff1c188;
    padding: 20px;
    line-height: 1.6;
    word-break: break-word;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    z-index: 4;
  }

  .img-wrap {
    display: flex;
    justify-content: center;
    z-index: 4;
  }

  .timeline-item.left .content,
  .timeline-item.right .content {
    grid-column: 1 / 4;
  }

  .timeline-item.left .img-wrap,
  .timeline-item.right img {
    grid-column: 1 / 4;
    justify-self: center;
    z-index: 4;
  }

  .festival,
  .barva {
    border-radius: 3px 30px 3px 30px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .tehu {
    border-radius: 30px 3px 30px 3px;
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .dot {
    grid-column: 2;
    width: 16px;
    height: 16px;
    background-color: #13b5a8;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.6s ease, transform 0.4s ease;
    z-index: 3;
  }

  .dot.visible {
    display: none;
    /*opacity: 1;
  transform: scale(1);
  animation: flash 1.5s ease;*/
  }

  @keyframes flash {
    0% {
      box-shadow: 0 0 0px #13b5a8;
      transform: scale(1);
    }
    50% {
      box-shadow: 0 0 20px #13b5a8;
      transform: scale(1.4);
    }
    100% {
      box-shadow: 0 0 0px #13b5a8;
      transform: scale(1);
    }
  }
}
@media (min-width: 800px) {
  .festival,
  .barva {
    border-radius: 3px 30px 3px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .tehu {
    border-radius: 30px 3px 30px 3px;
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto; /* zarovná doprava uvnitř .content */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  .timeline {
    position: relative; /* DŮLEŽITÉ – aby line-wrapper měl k čemu být absolutní */
    display: grid;
    grid-template-columns: 1fr 4px 1fr;
    gap: 40px;
    min-height: 800px; /* nebo kolik je třeba */
  }

  .line-wrapper {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    z-index: 1;
  }

  .line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(
      to bottom,
      #13b5a8,
      #fff1c164,
      #fff1c1,
      #13b5a8
    );
    transition: height 0.3s ease-out;
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .timeline-item {
    display: contents;
  }

  .timeline-item .content {
    background: #fff1c188;
    padding: 20px;
    line-height: 1.6;
    justify-content: center;
    word-break: break-word;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .timeline-item.left,
  .content,
  .img-wrap {
    grid-column: 1;
    text-align: right;
    border-radius: 30px 3px 30px 3px;
  }

  .timeline-item.right .content {
    grid-column: 3;
    text-align: left;
    border-radius: 3px 30px 3px 30px;
  }

  @keyframes flash {
    0% {
      box-shadow: 0 0 0px #13b5a8;
      transform: scale(1);
    }
    50% {
      box-shadow: 0 0 20px #13b5a8;
      transform: scale(1.4);
    }
    100% {
      box-shadow: 0 0 0px #13b5a8;
      transform: scale(1);
    }
  }

  .dot {
    grid-column: 2;
    width: 16px;
    height: 16px;
    background-color: #13b5a8;
    border-radius: 50%;
    justify-self: center;
    align-self: center;
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 0.6s ease, transform 0.4s ease;
    z-index: 3;
  }

  .dot.visible {
    opacity: 1;
    transform: scale(1);
    animation: flash 1.5s ease;
  }
}
.interval3 {
  height: 60px;
}
/*fotky*/
.galerie-wrapper {
  display: block;
  text-decoration: none;
}
.galerie {
  grid-area: galerie;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  overflow: hidden;
  padding-top: 2%;
}
.arrow {
  background: none;
  color: #13b5a8;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}
.galerie-obrazky {
  display: flex;
  gap: 2rem;
  transition: transform 0.3s ease;
}

.galerie-img.active {
  opacity: 1;
  transform: scale(1.05);
  border: 3px solid #13b5a8;
}

.galerie-obrazky {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.galerie-obrazky a {
  scroll-snap-align: center;
  flex-shrink: 0;
  width: 100vw;
  padding: 0 10px; /* prostor kolem obrázku */
}

.galerie-img {
  width: 200px;
  max-width: 100%;
  border: 3px solid #13b5a8;
  box-sizing: border-box; /* <== přidáno */
  margin: 0 auto;
}

@media (min-width: 800px) {
  .galerie {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
  }
  .galerie-img {
    width: 250px;
    height: auto;
    opacity: 0.4;
    transition: opacity 0.3s ease, transform 0.3s ease;
    flex-shrink: 0;
    border: 3px solid #13b5a8;
    border-radius: 20px;
  }
  .galerie-obrazky {
    overflow: hidden; /* <== Skryje posuvníky */
  }

  .galerie-img.active {
    opacity: 1;
    transform: scale(1.05);
  }
  .look {
    text-decoration: none;
  }
}
.look {
  padding: 0 4%;
  text-align: center;
  text-decoration: none;
}

.reference {
  grid-area: reference;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  row-gap: 2rem;
  width: 90%;
  padding: 4%;
  justify-self: center;
  max-height: 30vh; /* Viditelné jen 30% výšky obrazovky */
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.ref1,
.ref2,
.ref3 {
  font-size: 16px;
  width: 100%;
  padding: 4%;
  border-radius: 20px;
  border: 3px solid #baa360;
  box-shadow: 2px 4px 10px #13b5a851;
}
.reference p {
  line-height: 1.3;
}

.name {
  font-style: italic;
}

.reference.expanded {
  max-height: 1000vh; /* Hodně velké číslo, aby se vše ukázalo */
}

#toggleButton {
  margin: 1rem;
  padding: 10px 20px;
  background-color: #baa360;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#toggleButton:hover {
  background-color: #baa360;
}
@media (min-width: 800px) {
  .reference {
    grid-area: reference;
    display: grid;
    grid-template-columns: 35% 4fr;
    grid-template-rows: auto auto;
    gap: 20px;
    justify-self: center;
  }
  .ref1 {
    grid-column: 1;
    grid-row: 1 / span 2;
    min-height: 100%;
    box-shadow: 2px 4px 10px #13b5a851;
    padding-top: 25%;
  }

  .ref2 {
    grid-column: 2;
    grid-row: 1;
    box-shadow: 2px 4px 10px #13b5a851;
  }
  .ref3 {
    grid-column: 2;
    grid-row: 2;
    box-shadow: 2px 4px 10px #13b5a851;
  }
}

.interval5 {
  height: 60px;
}
